/* overrides */
BODY .markdown-body PRE {
  font-size: 11px;
}

BODY .markdown-body TABLE {
  font-size: 11px;
}

BODY .markdown-body CODE {
  font-size: 12px;
}

BODY .markdown-body P.page-break {
  page-break-after: always
}

BODY .markdown-body TABLE TD {
  padding: 3px 3px;
}

